workflow_backups/gemini_for_securityV2/gemini_for_securityV2_Nx0w4iZCitmaAY2K.json
{
  "name": "gemini_for_securityV2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -32
      ],
      "id": "dabacf73-0074-4564-98ee-5e158f3899f4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        0,
        608
      ],
      "id": "7b0b3ed1-ab40-4a46-9a7e-ed096853ff2f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "LprBiyyLSqKEHJGl",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"analysis_summary\": \"What was found and the result (e.g., threat or false positive).\",\n  \"final_status\": \"Final outcome (e.g., Resolved, Escalated).\",\n  \"recommended_action\": \"Next steps or no action needed.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1328,
        208
      ],
      "id": "f4b7379f-9ac8-43df-aa56-1718614383bb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "toolDescription": "* **Purpose**: Use this tool for targeted content extraction from a **single, known URL**. It is used *after* the discovery phase to read the contents of a specific page you have identified.\n* **When to Use**:\n    * After `SearXNG_http` returns a promising URL to a security advisory or threat analysis blog.\n    * An alert or log provides a direct URL that needs to be analyzed (e.g., scraping a known phishing page).\n* **Required Input**: A single, complete URL (e.g., `\"https://securityblog.example.com/threat-analysis-of-cve-2025-12345\"`).\n* **Expected Output**: The full text content of that specific webpage.",
        "method": "POST",
        "url": "https://firecrawl.rohi.life/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2272,
        400
      ],
      "id": "e8a1de59-558f-4d45-8d65-5f64a6ba67b4",
      "name": "firecrawl-tool",
      "credentials": {
        "httpBearerAuth": {
          "id": "eFwntbjfFyKCMtKV",
          "name": "Firecrawl"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "* **Purpose**: Use this tool for broad discovery and information gathering. It is your primary tool for exploring the open web when you **do not have a specific, known URL**. Think of it as your global search engine for finding new intelligence.\n* **When to Use**:\n    * You need to understand a new threat or CVE (e.g., `\"details on CVE-2025-12345\"`).\n    * You need to research the reputation of an IP address, domain, or file hash (e.g., `\"reputation of IP 198.51.100.2\"`, `\"analysis of hash 5d41402abc4b2a76b9719d911017c592\"`).\n    * You need to find articles, blog posts, or threat intelligence reports on a topic (e.g., `\"FIN7 TTPs 2024\"`).\n* **Required Input**: A search query string (e.g., `\"What is the malware family associated with this hash...\"`).\n* **Expected Output**: A list of potentially relevant URLs.\n",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Name', ``, 'string') }}",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2512,
        400
      ],
      "id": "2fb83c78-7125-4dae-90a6-e954aa2eca54",
      "name": "SearXNG_http"
    },
    {
      "parameters": {
        "content": "### security_analyst_tier_1  \n* **Purpose**:  \n  - Understand what the alert is about.  \n  - Summarize the alert clearly and briefly.  \n  - Check if the alert has already been resolved or is still active.  \n  - Decide whether to escalate the alert and to whom (e.g., Tier 2, SOC lead, or IT).  \n  - Do not take remediation actions — only review, summarize, and route the alert appropriately.  \n\n* **Key Focus Areas**:  \n  - Identify the type of alert (malware, login anomaly, suspicious activity, etc.).  \n  - Determine if it's a false positive or needs further attention.  \n  - Keep the summary neutral, factual, and actionable.  \n  - Use the Discovery and Extraction tools to gather basic context when needed.  \n\n* **Output**:  \n  - A concise summary in JSON format with:  \n    - `analysis_summary`  \n    - `final_status`  \n    - `recommended_action`\n\n\n### security_analyst_tier_1  \n* **Purpose**:  \n  - Understand what the alert is about.  \n  - Check if it has already been resolved or not.  \n  - Summarize the alert clearly and briefly.  \n  - Decide whether to close the alert or send it to Tier 2 for deeper investigation.  \n\n* **Responsibilities**:  \n  - Perform high-level triage based only on available alert data.  \n  - Do **not** use investigation tools or external lookups.  \n  - Do **not** contact other teams (e.g., IT) or take action.  \n  - Only review, assess, and route.  \n  - Submit findings in JSON format.\n\n* **Output (JSON)**:  \n```json\n{\n  \"analysis_summary\": \"Short description of the alert's content or behavior.\",\n  \"final_status\": \"Resolved | Open | Escalated | False Positive | Other\",\n  \"recommended_action\": \"Suggest escalation to Tier 2 or closure.\"\n}\n```",
        "height": 440,
        "width": 780,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -1088
      ],
      "typeVersion": 1,
      "id": "80b0e674-a912-4314-95ee-d7e9be36d338",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### security_analyst_tier_2  \n* **Purpose**:  \n  - Perform deeper investigation and analysis of alerts escalated from Tier 1.  \n  - Research threat intelligence, analyze logs, and correlate data to understand the full context and root cause.  \n  - Validate or refute Tier 1 assessments with detailed evidence.  \n  - Determine the scope, impact, and potential risk of the alert.  \n  - Provide detailed recommendations for remediation or containment.  \n  - Coordinate with other teams (e.g., IT, Incident Response) if escalation is required.  \n\n* **Key Responsibilities**:  \n  - Use advanced tools and techniques to gather additional intelligence beyond initial triage.  \n  - Use the Discovery and Extraction tools in the defined order (SearXNG_http → firecrawl-tool).  \n  - Conduct forensic analysis on affected systems when necessary.  \n  - Monitor for related activity or indicators of compromise (IOCs).  \n  - Document findings clearly with evidence and timeline.  \n  - Update alert status based on investigation outcomes.  \n  - Communicate actionable intelligence to relevant stakeholders.  \n\n* **Expected Outputs**:  \n  - Comprehensive analysis reports or updates in structured format.  \n  - Clear final status with actionable next steps (remediation, monitoring, or closure).  \n  - Escalation to Incident Response or management for critical incidents.  \n\n\n\n\n\n### security_analyst_tier_2  \n* **Purpose**:  \n  - Conduct in-depth investigation of alerts escalated by Tier 1.  \n  - Research context, correlate data, and determine root cause and impact.  \n  - Recommend next steps (e.g., containment, monitoring, escalation).  \n\n* **Responsibilities**:  \n  - Use investigation tools as needed (e.g., SearXNG_http → firecrawl-tool).  \n  - Perform contextual enrichment (e.g., look up IPs, hashes, domains).  \n  - Identify patterns, lateral movement, or related incidents.  \n  - Provide structured, well-supported recommendations.  \n  - Do **not** contact IT directly — only recommend escalation paths.  \n\n* **Output (JSON)**:  \n```json\n{\n  \"analysis_summary\": \"Detailed explanation of the alert and related evidence.\",\n  \"final_status\": \"Escalated | Contained | Monitoring | False Positive | Resolved\",\n  \"recommended_action\": \"Recommend action (e.g., escalate to SOC lead, continue monitoring).\"\n}\n```\n",
        "height": 540,
        "width": 940,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        -1104
      ],
      "id": "caa717b8-0782-43a0-ab99-d8dc24059409",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### SOC_lead  \n* **Purpose**:  \n  - Review all recommendations from Tier 1 and Tier 2 analysts.  \n  - Make final decisions on whether to escalate, investigate further, or involve other teams (e.g., IT).  \n  - Act as the human-in-the-loop and decision authority.  \n  - Can directly mark alerts as **Resolved** when appropriate.\n\n* **Responsibilities**:  \n  - Validate escalation paths and determine if additional resources are needed.  \n  - Engage IT or Incident Response **only when necessary**.  \n  - Ensure proper documentation, communication, and ownership of next steps.  \n  - Coordinate high-severity or organization-wide incidents.  \n  - Finalize alert status and confirm closure when no further action is needed.\n\n* **Actions**:  \n  - Decide whether to accept or override Tier 2 recommendations.  \n  - Loop in external teams with full context if needed.  \n  - Track and approve all escalations involving real-world impact.  \n  - Mark alerts as **Resolved**, **Closed**, or **Reassigned** based on findings.\n\n* **Output (JSON)**:  \n```json\n{\n  \"analysis_summary\": \"Final summary of the investigation and decision.\",\n  \"final_status\": \"Resolved | Closed | Reassigned | Escalated\",\n  \"recommended_action\": \"Final directive or action taken based on all prior input.\"\n}\n```",
        "height": 740,
        "width": 720,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1584,
        -1104
      ],
      "typeVersion": 1,
      "id": "7c3a2eec-dd0b-4e13-becb-5326f42c7e05",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/security/alerts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -32
      ],
      "id": "3f627ed4-bed8-4a4d-a9b8-2f933274f818",
      "name": "Get Alerts",
      "credentials": {
        "oAuth2Api": {
          "id": "SwX6WKa4Jiqn10uw",
          "name": "Graph_accse"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/security/alerts_v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        176
      ],
      "id": "b8fc6c88-83a6-4d03-a7a7-983902dc9a12",
      "name": "Get Alerts v2",
      "credentials": {
        "oAuth2Api": {
          "id": "SwX6WKa4Jiqn10uw",
          "name": "Graph_accse"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/security/incidents",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -224
      ],
      "id": "ec7a966c-f8d9-4c2a-93df-2096f334fb89",
      "name": "Get Incidents",
      "credentials": {
        "oAuth2Api": {
          "id": "SwX6WKa4Jiqn10uw",
          "name": "Graph_accse"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        -48
      ],
      "id": "0d20079c-39da-4e69-8bd8-2571d8d3fe4e",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "function generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\nconst unique = new Map();\nitems.forEach(item => {\n  const id = item.json.id;\n  if (!unique.has(id)) {\n    item.json.type = item.json.incidentId ? 'incident' : 'alert';\n    // Assign a unique sessionId ONLY to each kept item\n    item.json.sessionId = generateUUID();\n    unique.set(id, item);\n  }\n});\nreturn Array.from(unique.values());\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -32
      ],
      "id": "9c77417f-96d1-4b6f-a953-3b886ae610d1",
      "name": "Deduplicate and Normalize"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Split Out').item.json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1552,
        384
      ],
      "id": "d70654f0-df57-4f69-927f-f117cfe2cf05",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        -32
      ],
      "id": "1e5fee1e-18e3-4866-9c10-8aca9d561b6e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1264,
        416
      ],
      "id": "309325fa-6b1a-4c4c-bfe4-1578ced134f9",
      "name": "Gemini 2.5 flash",
      "credentials": {
        "googlePalmApi": {
          "id": "WdOCetfAcE7xCi4x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2400,
        640
      ],
      "id": "9a989344-23d7-4445-9682-790f842d83f9",
      "name": "Gemini 2.5 pro",
      "credentials": {
        "googlePalmApi": {
          "id": "WdOCetfAcE7xCi4x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Review the following security alert details and Tier 1 notes. Conduct deep investigation as Tier 2. Use SearXNG_http and firecrawl-tool results if available. Respond ONLY with a valid JSON using the provided schema. If any field is missing, output \"N/A\" and explain in the analysis.\n\nYou are a Tier 2 security analyst. Review the following incident data and provide deep investigation, recommended actions, and status. Use sourceMaterials, host and user info, and Tier 1 analysis.\n\nIncident Data:\nID: {{ $json.id }}\nSession ID: {{ $json.sessionId || \"N/A\" }}\nCategory: {{ $json.category || \"N/A\" }}\nStatus: {{ $json.status || \"N/A\" }}\nSeverity: {{ $json.severity || \"N/A\" }}\nTitle: {{ $json.title || \"N/A\" }}\nDescription: {{ $json.description || \"N/A\" }}\nCreated: {{ $json.createdDateTime || \"N/A\" }}\nEvent Time: {{ $json.eventDateTime || \"N/A\" }}\nLast Modified: {{ $json.lastModifiedDateTime || \"N/A\" }}\n\n**Tier 1 Summary:** {{ $json.tier1_analysis_summary || \"N/A\" }}\n**Tier 1 Final Status:** {{ $json.tier1_final_status || \"N/A\" }}\n**Tier 1 Recommendation:** {{ $json.tier1_recommended_action || \"N/A\" }}\n\nSource Materials:\n{{ $json.sourceMaterials?.length ? $json.sourceMaterials.map((s, i) => `${i + 1}. ${s}`).join('\\n') : \"N/A\" }}\n\nHost States:\n{{ asArray($json.hostStates).length ? asArray($json.hostStates).map(h =>\n[\n  `- FQDN: ${h.fqdn || \"N/A\"}`,\n  `  OS: ${h.os || \"N/A\"}`,\n  `  Private IP: ${h.privateIpAddress || \"N/A\"}`,\n  `  Public IP: ${h.publicIpAddress || \"N/A\"}`,\n  `  Risk Score: ${h.riskScore || \"N/A\"}`\n].join('\\n')).join('\\n') : \"N/A\"\n}}\n\n\n\n\nFile States:\n{{ $json.fileStates?.length ? $json.fileStates.map(f =>\n  [\n    `- Name: ${f.name ?? \"N/A\"}`,\n    `  Path: ${f.path ?? \"N/A\"}`,\n    `  SHA1: ${f.fileHash?.hashValue ?? \"N/A\"}`\n  ].join('\\n')).join('\\n\\n') : \"N/A\"\n}}\n\nUser States:\n{{ $json.userStates?.length ? $json.userStates.map(u => \n  [\n    `- AADUserId: ${u.aadUserId ?? \"N/A\"}`,\n    `  AccountName: ${u.accountName ?? \"N/A\"}`,\n    `  UserPrincipalName: ${u.userPrincipalName ?? \"N/A\"}`,\n    `  LogonIp: ${u.logonIp ?? \"N/A\"}`,\n    `  LogonLocation: ${u.logonLocation ?? \"N/A\"}`\n  ].join('\\n')).join('\\n\\n') : \"N/A\"\n}}\n\nNetwork Connections:\n{{ $json.networkConnections?.length ? $json.networkConnections.map(n => \n  `- DestinationUrl: ${n.destinationUrl ?? \"N/A\"}`\n).join('\\n') : \"N/A\" }}\n\nVendor Information:\nProvider: {{ $json.vendorInformation?.provider || \"N/A\" }}, SubProvider: {{ $json.vendorInformation?.subProvider || \"N/A\" }}, Vendor: {{ $json.vendorInformation?.vendor || \"N/A\" }}\n\n\nRespond only with valid JSON in this format:\n{\n  \"sessionId\": \"\",\n  \"tier2_analysis\": \"\",\n  \"tier2_status\": \"\",\n  \"recommended_action\": \"\"\n}\n\n\n1.  **Start with a Question**: What information do I need to find?\n2.  **Discover with `SearXNG_http`**: Use your question to form a search query and execute it to get a list of URLs.\n3.  **Analyze & Select**: Review the URLs from the search results to identify the most promising source.\n4.  **Extract with `firecrawl-tool`**: Take the single best URL and use `firecrawl-tool` to read its content.\n5. ** Must! You have to include in at Root of it item: “Recommendations_action”: “Escalate to Tier 3” or “Close as resolved/false positive.”** \nIn your Tier 2 analysis, reference any notable findings or indicators collected using these tools.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a highly skilled Tier 2 Security Analyst. Your primary role is to conduct deep investigations into security incidents or suspicious activities. You have access to and are expected to utilize specialized enrichment tools to gather comprehensive intelligence before formulating any recommendations.\n\n**Step 1: Discovery Phase**\n\n**Tool: `SearXNG_http` (The Reconnaissance Tool)**\n\n* **Purpose**: Use this tool for broad discovery and information gathering. It is your primary tool for exploring the open web when you **do not have a specific, known URL**. Think of it as your global search engine for finding new intelligence.\n* **When to Use**:\n    * You need to understand a new threat or CVE (e.g., `\"details on CVE-2025-12345\"`).\n    * You need to research the reputation of an IP address, domain, or file hash (e.g., `\"reputation of IP 198.51.100.2\"`, `\"analysis of hash 5d41402abc4b2a76b9719d911017c592\"`).\n    * You need to find articles, blog posts, or threat intelligence reports on a topic (e.g., `\"FIN7 TTPs 2024\"`).\n* **Required Input**: A search query string (e.g., `\"What is the malware family associated with this hash...\"`).\n* **Expected Output**: A list of potentially relevant URLs.\n\n\n**Step 2: Extraction Phase**\n\n**Tool: `firecrawl-tool` (The Extraction Tool)**\n\n* **Purpose**: Use this tool for targeted content extraction from a **single, known URL**. It is used *after* the discovery phase to read the contents of a specific page you have identified.\n* **When to Use**:\n    * After `SearXNG_http` returns a promising URL to a security advisory or threat analysis blog.\n    * An alert or log provides a direct URL that needs to be analyzed (e.g., scraping a known phishing page).\n* **Required Input**: A single, complete URL (e.g., `\"https://securityblog.example.com/threat-analysis-of-cve-2025-12345\"`).\n* **Expected Output**: The full text content of that specific webpage.\n**Task Workflow (Follow these steps strictly and sequentially):**\n\n### The Golden Rule & Mandatory Workflow\n\n1.  **Understand the Incident:**\n    *   Analyze the provided security incident details or query, which will be delimited by triple quotes.\n    *   Identify all key indicators (e.g., IP addresses, domains, hashes, email addresses, keywords, URLs) and specific questions that require investigation.\n    *   *Internal Monologue:* Briefly outline the initial scope of the investigation.\n\n2.  **Deep Dive Enrichment (Content Extraction with `firecrawl-tool`):**\n    *   If `SearXNG_http` results yield specific URLs or documents that require in-depth content analysis (e.g., for threat intelligence reports, phishing page content, detailed company information, or code analysis), use `firecrawl-tool` to extract their full content. Prioritize sources directly related to the incident.\n    *   *Internal Monologue:* Process the extracted content. Look for specific keywords, attacker TTPs (Tactics, Techniques, Procedures), infrastructure details, contextual information, or confirmation of initial suspicions relevant to the incident. Track success/failure of content extraction.\n\n3.  **Synthesize Findings:**\n    *   *Internal Monologue:* Correlate and synthesize all information gathered from the initial incident details, `SearXNG_http` queries, and `firecrawl-tool` extractions. Identify patterns, confirm or refute initial suspicions, uncover new angles, and piece together a comprehensive understanding of the incident.\n    *   Formulate clear and concise findings based *only* on the evidence collected.\n    *   Identify any significant gaps in information from the initial input or areas where tool queries failed to provide relevant or conclusive results.\n\n4.  **Formulate Recommendations:**\n    *   *Internal Monologue:* Based on the synthesized findings, develop actionable security recommendations. These should be practical, prioritized, and directly address the identified threats, vulnerabilities, or areas for improvement.\n\n5.  **Output Generation (Strict JSON):**\n    *   ** Must! You have to include in at Root of it item: “Recommendations_action”: “Escalate to Tier 3” or “Close as resolved/false positive.”** \n    *   Present all findings and recommendations in a strict JSON format.\n    *   Generate a unique `sessionId` for the overall investigation (e.g., \"INV-20231027-001\").\n    *   For each distinct item within `findings` and `recommendations` arrays, generate a unique `itemId` (e.g., \"F-001\", \"R-001\").\n    *   **Crucially, if any context was missing from the initial input or if any tool queries failed to yield relevant results, include a concise summary of these limitations within the `tool_execution_summary` object.**\n\n**JSON Output Schema:**\n\n```json\n{\n  \"investigationId\": \"string\", // Unique ID for this entire investigation\n  \"incidentSummary\": \"string\", // A brief summary of the initial incident/query\n  \"findings\": [\n    {\n      \"itemId\": \"string\", // Unique ID for this specific finding\n      \"type\": \"string\", // e.g., \"IP Reputation\", \"Domain Analysis\", \"Threat Actor Link\", \"Vulnerability Identified\"\n      \"Recomdatiosn_action\": \"Escalate to Tier 3\" or \"Close as resolved/false positive.\"\n      \"indicator\": \"string\", // The specific indicator investigated (e.g., \"198.51.100.25\", \"malicious.com\")\n      \"sourceTool\": \"string\", // e.g., \"Initial Input\", \"SearXNG_http\", \"firecrawl-tool\"\n      \"details\": \"string\", // Detailed explanation of the finding, supported by evidence\n      \"severity\": \"string\" // e.g., \"Critical\", \"High\", \"Medium\", \"Low\", \"Informational\"\n    }\n  ],\n  \"recommendations\": [\n    {\n      \"itemId\": \"string\", // Unique ID for this specific recommendation\n      \"description\": \"string\", // Actionable recommendation based on findings\n      \"priority\": \"string\", // e.g., \"Immediate\", \"High\", \"Medium\", \"Low\"\n      \"responsibleTeam\": \"string\" // e.g., \"Network Ops\", \"Endpoint Security\", \"Security Awareness\", \"IR Team\"\n    }\n  ],\n  \"toolExecutionSummary\": {\n    \"searxngHttpStatus\": \"string\", // \"success\" or \"partial_success\" or \"failure\"\n    \"firecrawlToolStatus\": \"string\", // \"success\" or \"partial_success\" or \"failure\"\n    \"missingContextSummary\": \"string\", // Summary of any initial context that was unclear or missing. If none, state \"N/A\".\n    \"failedToolResultsSummary\": \"string\" // Summary of any specific tool failures or queries that yielded no relevant information. If none, state \"N/A\".\n  }\n}\n```                                                                                                                                           "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2352,
        16
      ],
      "id": "dd7087a6-550f-454d-8392-47c3e1ae750e",
      "name": "Tier 2 Security Analyst – Deep Investigation"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the security alert data provided below. Pay close attention to the `title`, `severity`, `status`, and especially the `comments` to understand the final outcome.\nAlert Data:\nID: {{ $json.id }}\nAzure Tenant ID: {{ $json.azureTenantId }}\nRisk Score: {{ $json.riskScore }}\nSeverity: {{ $json.severity }}\nCategory: {{ $json.category }}\nTitle: {{ $json.title }}\nStatus: {{ $json.status }}\nDescription: {{ $json.description }}\nComments: {{ $json.comments }}\nCreated Date: {{ $json.createdDateTime }}\nEvent Date: {{ $json.eventDateTime }}\nLast Modified: {{ $json.lastModifiedDateTime }}\nVendor: {{ $json.vendorInformation.vendor }}\nProvider: {{ $json.vendorInformation.provider }}\nRecommended Actions: {{ $json.recommendedActions }}\nTags: {{ $json.tags }}\nSender: {{ $json.sender }}\nRecipients: {{ $json.recipient }}\n\n{{ \n  ($json.userStates || [])\n    .map((u, i) => [\n      `User State ${i + 1}:`,\n      ` AAD User ID: ${u.aadUserId}`,\n      ` User Principal Name: ${u.userPrincipalName}`,\n      ` Email Role: ${u.emailRole}`,\n      ` Logon Date Time: ${u.logonDateTime}`,\n      ` Logon IP: ${u.logonIp}`,\n      ` Logon Location: ${u.logonLocation}`,\n      ` Risk Score: ${u.riskScore}`,\n      ` User Account Type: ${u.userAccountType}`,\n      ` On-Prem SID: ${u.onPremisesSecurityIdentifier}`\n    ].join('\\n'))\n    .join('\\n\\n') || 'No userStates found.'\n}}\nRespond **only** with valid JSON in exactly this structure:\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Tier 1 security analyst. Your job is to quickly triage incoming security alerts (and incidents), summarize their key facts, determine their current status, and recommend either closure or escalation to Tier 2. Do not perform remediation or contact other teams. Focus only on understanding and routing the alert.\n\nFor each item:\n- Summarize the type, affected entity, severity, and most important context.\n- Check: Is it resolved, open, false positive, or needs deeper investigation?\n- Recommend: \"Escalate to Tier 2\" or \"Close as resolved/false positive.\"\n- Output your findings in this JSON format:\n{\n  \"analysis_summary\": \"...\",\n  \"final_status\": \"...\",\n  \"recommended_action\": \"...\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1152,
        -32
      ],
      "id": "c8360fcf-c3f5-4f45-b173-2c196745126e",
      "name": "Tier 1 Analyst – Basic Triage"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"investigationId\": \"<unique_uuid_for_this_investigation>\",\n  \"incidentSummary\": \"<A brief, one-sentence summary of the initial incident>\",\n  \"recommendationAction\": \"<Escalate to Tier 3 | Close as resolved/false positive>\",\n  \"findings\": [\n    {\n      \"itemId\": \"<unique_id_for_this_finding>\",\n      \"type\": \"<e.g., 'IP Reputation', 'Vulnerability Identified'>\",\n      \"indicator\": \"<The specific data investigated, e.g., '198.51.100.25'>\",\n      \"sourceTool\": \"<e.g., 'SearXNG_http', 'firecrawl-tool'>\",\n      \"details\": \"<Detailed explanation of what was discovered and why it is relevant>\",\n      \"severity\": \"<Critical | High | Medium | Low | Informational>\"\n    }\n  ],\n  \"recommendations\": [\n    {\n      \"itemId\": \"<unique_id_for_this_recommendation>\",\n      \"description\": \"<Actionable recommendation based on the findings>\",\n      \"priority\": \"<Immediate | High | Medium | Low>\",\n      \"responsibleTeam\": \"<e.g., 'Network Ops', 'IR Team'>\"\n    }\n  ],\n  \"toolExecutionSummary\": {\n    \"searxngHttpStatus\": \"<success | partial_success | failure>\",\n    \"firecrawlToolStatus\": \"<success | partial_success | failure>\",\n    \"missingContextSummary\": \"<Summary of any unclear or missing initial context, or 'N/A'>\",\n    \"failedToolResultsSummary\": \"<Summary of tool failures or queries yielding no info, or 'N/A'>\"\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2656,
        400
      ],
      "id": "92aaa03d-8be3-4acf-80bb-02ab5c4e02d5",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86273c1b-ea09-433e-be40-ab0a3f4721bf",
              "name": "tier1_analysis_summary",
              "value": "={{ $('Tier 1 Analyst – Basic Triage').item.json.output.analysis_summary }}",
              "type": "string"
            },
            {
              "id": "dedc2538-b2b6-4081-87c6-d5e20d4697bd",
              "name": "tier1_analysis_summary",
              "value": "={{ $('Tier 1 Analyst – Basic Triage').item.json.output.analysis_summary }}",
              "type": "string"
            },
            {
              "id": "5171b879-eaf6-4270-b988-ce54c3d38537",
              "name": "tier1_final_status",
              "value": "={{ $('Tier 1 Analyst – Basic Triage').item.json.output.final_status }}",
              "type": "string"
            },
            {
              "id": "6a39d477-bc18-439b-808e-e69e22f062f5",
              "name": "tier1_recommended_action",
              "value": "={{ $('Tier 1 Analyst – Basic Triage').item.json.output.recommended_action }}",
              "type": "string"
            },
            {
              "id": "7be212b4-834b-4a5f-af30-b5003fb44a79",
              "name": "id",
              "value": "={{ $('Split Out').item.json.id }}",
              "type": "string"
            },
            {
              "id": "1f9e68aa-6302-4a5f-a6e5-c6f17dab337a",
              "name": "azureTenantId",
              "value": "={{ $('Split Out').item.json.azureTenantId }}",
              "type": "string"
            },
            {
              "id": "fbd43b22-960f-4dec-bde1-4938655ae21f",
              "name": "createdDateTime",
              "value": "={{ $('Split Out').item.json.createdDateTime }}",
              "type": "string"
            },
            {
              "id": "52d86ba4-d908-410f-8d23-aee43742e47b",
              "name": "eventDateTime",
              "value": "={{ $('Split Out').item.json.eventDateTime }}",
              "type": "string"
            },
            {
              "id": "b4ff13d6-6ff7-474c-8385-34500d5b1ead",
              "name": "lastModifiedDateTime",
              "value": "={{ $('Split Out').item.json.lastModifiedDateTime }}",
              "type": "string"
            },
            {
              "id": "5fea7bd3-a890-4019-b6c0-2aab291ebf24",
              "name": "sourceMaterials",
              "value": "={{ $('Split Out').item.json.sourceMaterials }}",
              "type": "array"
            },
            {
              "id": "a56279d1-3c34-4b21-8f09-794ed874e7a5",
              "name": "title",
              "value": "={{ $('Split Out').item.json.title }}",
              "type": "string"
            },
            {
              "id": "a86ce94f-6377-47bd-bf30-c2619776c59b",
              "name": "status",
              "value": "={{ $('Split Out').item.json.status }}",
              "type": "string"
            },
            {
              "id": "abf117c8-8793-4129-b916-8b43f904fbfd",
              "name": "vendorInformation",
              "value": "={{ $('Split Out').item.json.vendorInformation }}",
              "type": "object"
            },
            {
              "id": "10380c47-cfc0-4fd5-b69a-b5edc21d369e",
              "name": "fileStates",
              "value": "={{ $('Split Out').item.json.fileStates }}",
              "type": "array"
            },
            {
              "id": "c5c22d93-053a-4560-aeb2-e3cab1c1033f",
              "name": "hostStates",
              "value": "={{ $('Split Out').item.json.hostStates }}",
              "type": "array"
            },
            {
              "id": "2ec89dba-e648-439d-abfc-4d19c30653af",
              "name": "historyStates",
              "value": "={{ $('Split Out').item.json.historyStates }}",
              "type": "array"
            },
            {
              "id": "4d4d177e-7246-44a3-b607-1bd209a8fe05",
              "name": "networkConnections",
              "value": "={{ $('Split Out').item.json.networkConnections }}",
              "type": "array"
            },
            {
              "id": "7f79d921-d849-4ca2-b20b-762a3e117fa8",
              "name": "userStates",
              "value": "={{ $('Split Out').item.json.userStates }}",
              "type": "array"
            },
            {
              "id": "ae7d569c-0725-4eae-aef4-b268dd860f13",
              "name": "category",
              "value": "={{ $('Split Out').item.json.category }}",
              "type": "string"
            },
            {
              "id": "4f08724e-7af1-4d78-9d8a-e90741c57a0b",
              "name": "description",
              "value": "={{ $('Split Out').item.json.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        64
      ],
      "id": "63fe50de-ea9d-431f-ba3d-e53c1e9eaade",
      "name": "arrange the data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5df1e82c-8699-4727-a004-36d0c505be1d",
                    "leftValue": "={{ $json.output.recommended_action }}",
                    "rightValue": "=Close as resolved/false positive.",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.recommended_action }}",
                    "rightValue": "=Escalate to Tier 2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca52256d-8cd1-4bb6-b3d0-0d0cfaad676c"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1632,
        -32
      ],
      "id": "f4276014-1099-4d9b-a43b-ccab447622b9",
      "name": "Escalate to Tier 2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3328,
        16
      ],
      "id": "3a9834d4-00d5-463a-97a0-7ec0e16778e3",
      "name": "Tier 3 - SOC Leader"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5df1e82c-8699-4727-a004-36d0c505be1d",
                    "leftValue": "={{ $json.output.recommendations[0].Recomdatiosn_action }}",
                    "rightValue": "=Close as resolved/false positive.",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.recommendations[0].Recomdatiosn_action }}",
                    "rightValue": "=Escalate to Tier 2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca52256d-8cd1-4bb6-b3d0-0d0cfaad676c"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2832,
        16
      ],
      "id": "9e08de6e-8736-4d75-b77d-e2c2f55c823f",
      "name": "Escalate to SOC Leader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        -272
      ],
      "id": "8066f865-c1a6-4219-a84a-5339c8d195d6",
      "name": "Resolving alerts by Tier 1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        -256
      ],
      "id": "393a8303-da32-4c54-8bd4-64effa765822",
      "name": "Resolving alerts by Tier 2",
      "disabled": true
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Alerts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Alerts v2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Incidents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Tier 1 Analyst – Basic Triage",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "firecrawl-tool": {
      "ai_tool": [
        [
          {
            "node": "Tier 2 Security Analyst – Deep Investigation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG_http": {
      "ai_tool": [
        [
          {
            "node": "Tier 2 Security Analyst – Deep Investigation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Alerts": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Alerts v2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Incidents": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Deduplicate and Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate and Normalize": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Tier 1 Analyst – Basic Triage",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Tier 2 Security Analyst – Deep Investigation",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Tier 1 Analyst – Basic Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 flash": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Tier 1 Analyst – Basic Triage",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 pro": {
      "ai_languageModel": [
        [
          {
            "node": "Tier 2 Security Analyst – Deep Investigation",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tier 1 Analyst – Basic Triage": {
      "main": [
        [
          {
            "node": "Escalate to Tier 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Tier 2 Security Analyst – Deep Investigation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Tier 2 Security Analyst – Deep Investigation": {
      "main": [
        [
          {
            "node": "Escalate to SOC Leader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "arrange the data": {
      "main": [
        [
          {
            "node": "Tier 2 Security Analyst – Deep Investigation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate to Tier 2": {
      "main": [
        [
          {
            "node": "Resolving alerts by Tier 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "arrange the data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate to SOC Leader": {
      "main": [
        [
          {
            "node": "Resolving alerts by Tier 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tier 3 - SOC Leader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "createdAt": "2025-09-29T12:05:36.330Z",
  "updatedAt": "2025-09-29T16:10:18.811Z"
}